* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;

    background-image: url("https://wallpaper.forfun.com/fetch/3b/3bcd05b03eb4998c2f56aa54850ec8e7.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: ;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero-content button {
    padding: 0.75rem 1.5rem;
    background-color: #2ecc71;;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-content button:hover {
    background-color: #27ae60;
}
.section {
    padding: 3rem 2rem;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #3498db;
}

.section p {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #333;
}

.section-two .services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem;
    width: 280px;
    max-width: 100%;
    text-align: left;
}

.service-card h3 {
    color: #3498db;
    margin-bottom: 0.5rem;
}

.service-card p {
    color: #333;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

